/* .enter {
    opacity: 0;
    transform: translateX(-100%);
  }
  
  .enterActive {
    opacity: 1;
    transform: translateX(0);
    transition:  transform 250ms linear;
  }
  
  .exit {
    opacity: 1;
    transform: translateX(0);
  }
  
  .exitActive {
    opacity: 0;
    transform: translateX(-100%);
    transition: transform 250ms linear;
  } */
  
 .enter {
    transform: scale(0.1) translateX(-100%);
   }
   
   .enterActive {
    transform: scale(1);
    transition: transform 200ms ease-in-out;
   } 
   
    .exit {
    transform: scale(1);
   }
   
   .exitActive {
    transform: scale(0.1) translateX(-100%);
    transition: transform 200ms ease-in-out;
   } 